
body {
    background: linear-gradient(#FDC7C5, #F7AA7C);
    height: 100vh;
    overflow-x:hidden;
  }

  /* .button {
    background-color: #DB7068;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  } */

  .button{
    background-color: #DB7068;
    text-align: center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
    color:#fff
 
  }


  .immagine{
    border-radius: 50%;
    height: 350px;
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .centro{
    text-align: center;
    align-items: center;
  }

  
 
  .button:hover {
    background-color: #ffffff;
    box-shadow: 0px 15px 20px #f17a71;
    color: rgb(0, 0, 0);
    transform: translateY(-7px);
  }


.trasparenza{
  background-color: rgba(245, 245, 245, 1);
  opacity: .4;
}


.wrap {
  height: 25%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.card {
  background-color: transparent;
  border: none;
}

a {
  text-decoration: none;
}

.bottone {
  padding: 5px;
}


.email{

}
.transparent-input {
  background-color: rgba(0, 0, 0, 0);
  border-style:#f17a71;

}

.navbar{
  padding-top: 30px;
  padding-bottom: 50px;
}


.titolo{
  text-align: center; 
   font-size: 500%;
   vertical-align: middle;
   color:#A54044;

   display: flex;
   justify-content: center;
   align-items: center;
}



.navbar-brand{
  color:#A54044;
  font-size: xx-large;
 

}

.colCard{
  background-color:#FDC7C5 ;
}

.colX{
  padding-left: 70px;
}


.colore{
  color:#97464D;
}


.emailX{
  padding-right: 70px;
}

.padX{
  margin-left: 100px;
  margin-right: 100px;
}

.padR{
  margin-right: 100px;
}

.padL{
  margin-left: 100px;
}

.padU{
  padding-top: 100px;
}

.padD{
  padding-bottom: 100px;
}

.mU{
  margin-bottom: 100px;
}